@font-face {
    font-family: "oswald";
    src: url("fonts/oswald/Oswald-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "oswald-light";
    src: url("fonts/oswald/Oswald-ExtraLight.ttf");
    font-weight:200;
}

body{
    background-color: rgb(235, 192, 129);
}


h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 70px;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th {
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 6%;
}
td {
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    padding:1% 60px 1% 60px;
}
p {
    color: grey;
    font-size: 24px;
    font-family: "oswald-light";
    text-align: justify;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
}

#addressMap{
    width: 913px;
    margin: 20px;
    
}

#productsTable tr:nth-child(even){
    background-color: rgb(255, 208, 0)

}

#productsTable tr:nth-child(odd){
    background-color: rgb(255, 240, 1)

}

/*#productsTable tr:nth-child(2n+1){
    background-color: rgb(0, 162, 255)

}
*/

#productsTable tr.productGroupRow{
    background-color: #28a745;
}



