@font-face {
    font-family: "oswald";
    src: url("fonts/oswald/Oswald-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "oswald-light";
    src: url("fonts/oswald/Oswald-ExtraLight.ttf");
    font-weight:200;
}


h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 70px;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th {
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 6%;
}
td {
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    padding:1% 60px 1% 60px;
}
p {
    color: grey;
    font-size: 24px;
    font-family: "oswald-light";
    text-align: justify;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
}

img{
    width: 913px;
    margin: 20px;
    
}